/***********************
* COLORS
************************/
$c-deep-red:rgb(242,233,0);
$c-background:rgb(89,89,89);
$c-new-back-ground-color:hsl(240,2.04%,19.22%);
$c-sim-black:#2f2f2f;
$c-Light-grayish-blue: hsl(223, 64%, 98%);
$c-soft-red: hsl(7, 99%, 70%);
$c-Orange: rgb(242,233,0);
$c-yellow: rgb(242,233,0);
$c-bright-gray :hsl(0,0%,85.1%);
$c-dark-desaturated-cyan: hsl(167, 40%, 24%);
$c-dark-green: hsl(265.71,36.21%,45.49%);
$c-dark-light-green: hsla(277, 91%, 48%, 0.757);
$c-dark-moderate-cyan: hsl(168, 34%, 41%);
$c-dark-desaturated-blue: hsl(212, 27%, 19%);
$c-dark-grayish-blue: hsl(213, 9%, 39%);
$c-grayish-blue: hsl(210, 4%, 67%);
$c-white: hsl(0, 0%, 100%);
$c-dodgerblue:hsl(265.71,36.21%,45.49%);
$c-banana-mania: hsl(34.38,40.27%,56.67%);
$c-banana-sim: #f5e0ce;
$c-banana-sim-black: #0e0e0e;
$c-monte-carlo: hsl(167, 76%, 76%);
$c-soft-red-bar: hsl(8, 65%, 84%);
$c-soft-red-bar-1: rgb(228, 153, 178);
$c-gray:rgba(75, 75, 75, 0.2);
$c-light-rose:hsl(13.85,35.14%,92.75%);
$c-light-body:rgb(110, 108, 108);
$c-light-gray-back:hsl(0,0%,96.86%);
$c-light-dark-gray:hsl(0,0%,93.33%)