
@import './partials/colors';
@import './partials/typography';
@import'./partials/mixins';
@import'./partials/variables';



*{
    box-sizing: border-box;
    margin: 0;
}
body{

 font-family: 'Kumbh'; 
    
}
.content{
    padding: $p-base*5 0 0 0;
    min-height: 100%;
  }
