/***********************
* COLORS
************************/
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;500;600&display=swap");
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Passions Conflict";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/passionsconflict/v5/kmKnZrcrFhfafnWX9x0GuEC-zowow6NXaxMICA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Kumbh";
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNopqShNBVo0iPw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/*******************
* MEDIA QUERIES
********************/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Passions Conflict";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/passionsconflict/v5/kmKnZrcrFhfafnWX9x0GuEC-zowow6NXaxMICA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Kumbh";
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNopqShNBVo0iPw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/***********************
* DEVICES
************************/
/***********************
* COLUMN
************************/
/*******************
* SPACING
********************/
/***********************
* DEVICES
************************/
/***********************
* COLUMN
************************/
/*******************
* SPACING
********************/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Kumbh";
}

.content {
  padding: 5rem 0 0 0;
  min-height: 100%;
}

.content__dark {
  padding: 4rem 0 0 0;
  min-height: 100%;
  background-color: #0e0e0e;
}

.main {
  padding: 1rem;
  background-color: hsl(0deg, 0%, 100%);
  height: 100%;
}
@media screen and (min-width: 1020px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.main__container {
  color: #0e0e0e;
  font-family: "Kumbh Sans";
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
}
.main__container__card {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.main__container__card__title {
  font-size: 1.7rem;
  color: hsl(256.36deg, 25.88%, 33.33%);
  text-align: center;
  padding: 2rem;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .main__container__card__title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1020px) {
  .main__container__card__title {
    font-size: 3rem;
  }
}
.main__container__bodyCard {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__container__bodyCard__body {
  letter-spacing: 0.0112rem;
  line-height: 26px;
  font-size: 15px;
  font-size: 0.91rem;
  font-weight: 300;
  color: #2f2f2f;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .main__container__bodyCard__body {
    width: 60%;
  }
}
.main__container__content {
  width: 90%;
  height: 90%;
}
.main__container__content__card {
  margin: 1rem;
  width: 100%;
  height: 300px;
  border: 1px solid hsl(7deg, 99%, 70%);
}

.main__dark {
  padding: 1rem;
  background-color: #0e0e0e;
  height: 100%;
}
@media screen and (min-width: 1020px) {
  .main__dark {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.main__dark__container {
  color: #0e0e0e;
  font-family: "Kumbh Sans";
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.main__dark__container__card {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.main__dark__container__card__title {
  font-size: 1.7rem;
  color: hsl(0deg, 0%, 83.92%);
  text-align: center;
  padding: 2rem;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .main__dark__container__card__title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1020px) {
  .main__dark__container__card__title {
    font-size: 3rem;
  }
}
.main__dark__container__bodyCard {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__dark__container__bodyCard__body {
  letter-spacing: 0.0112rem;
  line-height: 26px;
  font-size: 15px;
  font-size: 0.91rem;
  font-weight: 300;
  color: #2f2f2f;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .main__dark__container__bodyCard__body {
    width: 60%;
  }
}
.main__dark__container__content {
  width: 90%;
  height: 90%;
}
.main__dark__container__content__card {
  margin: 1rem;
  width: 100%;
  height: 300px;
  border: 1px solid hsl(7deg, 99%, 70%);
}

.service__container {
  display: flex;
  flex-wrap: wrap;
}
.service__card {
  width: 100%;
  padding: 0;
  margin: 1rem;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  height: 15rem;
  background-color: #c4c4c4;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.service__card:hover {
  background-color: #c2afd9;
}
@media screen and (min-width: 768px) {
  .service__card {
    flex: 1 0 44%;
    padding: 0 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .service__card {
    flex: 1 0 22%;
    height: 18rem;
  }
}

.service__card__dark {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  height: 15rem;
  background-color: #161515;
  margin: 1rem;
  border-radius: 0.5rem;
}
.service__card__dark:hover {
  background-color: #2c613a;
}
@media screen and (min-width: 768px) {
  .service__card__dark {
    flex: 1 0 44%;
    padding: 0 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .service__card__dark {
    flex: 1 0 22%;
    height: 18rem;
  }
}

.FontAwesomeIcon {
  color: hsl(0deg, 0%, 100%);
  padding: 1rem;
}

.service__card__container {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 1rem;
}
.service__card__container__icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service__card__container__title {
  font-family: "Kumbh Sans";
  text-transform: capitalize;
  color: hsl(256.36deg, 25.88%, 33.33%);
  text-align: center;
}
.service__card__container__title:hover {
  color: hsl(0deg, 0%, 100%);
}
.service__card__container__body {
  font-family: "Kumbh Sans";
  width: 100%;
  letter-spacing: 0.0112rem;
  line-height: 26px;
  font-size: 15px;
  font-size: 0.91rem;
  font-weight: 300;
  color: #2f2f2f;
}
.service__card__container__body:hover {
  color: hsl(0deg, 0%, 100%);
}

.service__card__dark__container {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 1rem;
}
.service__card__dark__container__icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service__card__dark__container__title {
  font-family: "Kumbh Sans";
  text-transform: capitalize;
  color: hsl(0deg, 0%, 83.92%);
  text-align: center;
}
.service__card__dark__container__body {
  font-family: "Kumbh Sans";
  width: 100%;
  letter-spacing: 0.0112rem;
  line-height: 26px;
  font-size: 15px;
  font-size: 0.91rem;
  font-weight: 300;
  color: hsl(210deg, 4%, 67%);
}
.service__card__dark__container__body:hover {
  color: hsl(0deg, 0%, 100%);
}

.skillsGrid {
  height: 100%;
  align-items: center;
  justify-items: center;
  width: 100%;
  background: #6e4a9e;
  border-radius: 15px;
  position: relative;
  margin: 1rem;
}
.skillsGrid::before {
  content: "";
  height: 100%;
  width: 4px;
  background: #6e4a9e;
  position: absolute;
  right: calc(100% + 3rem);
  top: 0.8rem;
  border-radius: 50px;
  opacity: 0.5;
}

.skillsGrid__dark {
  height: 100%;
  align-items: center;
  justify-items: center;
  width: 100%;
  background: hsl(210deg, 4%, 67%);
  border-radius: 15px;
  position: relative;
  margin: 1rem;
}
.skillsGrid__dark::before {
  content: "";
  height: 100%;
  width: 4px;
  background: hsl(0deg, 0%, 83.92%);
  position: absolute;
  right: calc(100% + 3rem);
  top: 0.8rem;
  border-radius: 50px;
  opacity: 0.5;
}

.skillsGrid__img {
  height: 65px;
  width: 45px;
  color: red;
}

.skillsGrid__dark__img {
  height: 65px;
  width: 45px;
}

.skills {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 12rem;
}
@media screen and (min-width: 1020px) {
  .skills {
    width: 11.5rem;
  }
}

.skills__dark {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 12rem;
}
@media screen and (min-width: 1020px) {
  .skills__dark {
    width: 11.5rem;
  }
}

.skillsGrid__amazon {
  width: 50px;
  height: 78px;
}/*# sourceMappingURL=Skills.module.css.map */