@import "../../styles/styles.scss";

.main{
    padding: $p-base;
    background-color:$c-white;
    height: 100%;

    @include tablet-query{
      
  
    }
    @include laptop-query{
      @include flex-center;
    }
    &__container{
        color: $c-banana-sim-black;
        @include font-family-normal;
         width: 100%;
        margin: 0 auto;
    &__card{
        width: 90%;
        @include flex-center;
        flex-direction: column;
        margin: 0 auto;
        &__title{
        font-size: 1.7rem;
        color: $c-dark-green;
        text-align: center;
       padding: 2rem;
        text-transform:capitalize;
        @include tablet-query{
          font-size: 2rem;

        }
        @include laptop-query{
          font-size: 3rem;

        }
        
        }
    
    }
    &__bodyCard{
        margin-bottom: 5rem;
        @include flex-center;

        &__body{
            letter-spacing: 0.0112rem;
            line-height: 26px;
            font-size: 15px;
            font-size: 0.91rem;
            font-weight:$fw-normal;
            color:$c-sim-black;
            text-align: center;
            @include laptop-l-query{
              width: 60%;
            }
        }
    }
    &__content{
    width: 90%;
    height: 90%;
    
    &__card{
        margin: $m-base;
        width: 100%;
        height: 300px;
        border: 1px solid $c-soft-red;
    }
    
    }
}
}

.main__dark{
  padding: $p-base;
  background-color:#191919;
  height: 100%;

  @include tablet-query{
    

  }
  @include laptop-query{
    @include flex-center;
  }
  &__container{
      color: $c-sim-black;
      @include font-family-normal;
       width: 100%;
      margin: 0 auto;
  &__card{
      width: 90%;
      @include flex-center;
      flex-direction: column;
      margin: 0 auto;
      &__title{
      font-size: 1.7rem;
      color: $c-dark-moderate-cyan;
      font-weight: 900;
      text-align: center;
     padding: 2rem;
      text-transform:capitalize;
      @include tablet-query{
        font-size: 2rem;

      }
     
      @include laptop-query{
        font-size: 3rem;

      }
      }
  
  }
  &__bodyCard{
      margin-bottom: 5rem;
      @include flex-center;
      
      &__body{
          letter-spacing: 0.0112rem;
          line-height: 26px;
          font-size: 15px;
          font-size: 0.91rem;
          font-weight:$fw-normal;
          color:$c-grayish-blue;
          text-align: center;
          @include laptop-l-query{
            width: 60%;

          }
        
              
      }
  }
  &__content{
  width: 90%;
  height: 90%;
  
  &__card{
      margin: $m-base;
      width: 100%;
      height: 300px;
      border: 1px solid $c-soft-red;
  }
  
  }
}
}
.service__container{
    display: flex;
    flex-wrap: wrap;

    @include tablet-query{

    }
  }
  
  .service__card{
    width: 100%;
    padding: 0;
    @include flex-start;
    height: 15rem;
    margin: 1rem;
    background-color:#c4c4c4;
    border-radius: .5rem;
    // transform: scale(.9);//later
    &:hover{
      background-color: #c2afd9;
          }
  
    @include tablet-query{
        flex: 1 0 44%;
        padding: 0 1rem;
    }
  
  
  @include laptop-l-query{
    flex: 1 0 22%;
    height: 18rem;
 
}
  }

  .service__card__dark{
    width: 100%;
    padding: 0;
    @include flex-start;
    height: 15rem;
    margin: 1rem;
    background-color: #161515;
    border-radius: .5rem;
    // transform: scale(.9);//later
    &:hover{
background-color: #2c613a;
    }
  
    @include tablet-query{
        flex: 1 0 44%;
        padding: 0 1rem;
    }

  
  @include laptop-l-query{
    flex: 1 0 22%;
    height: 18rem;
 
}
  

  }
  
  .FontAwesomeIcon{
    color: $c-white;
    padding: $p-base
  }

  .service__card__container{
    @include flex-start;
    flex-direction: column;
    margin: 1rem;
    &__icons{
      @include flex-center;
     }
  &__title{
    @include font-family-normal;
    text-transform:capitalize;
    color:$c-sim-black;
    text-align: center;
    &:hover{
      color: $c-white;
          }
  }
  &__body{
      @include font-family-normal;
      width: 100%;
      letter-spacing: 0.0112rem;
      line-height: 26px;
      font-size: 15px;
      font-size: 0.91rem;
      font-weight: 300;
      color: #2f2f2f;
      &:hover{
        color: $c-white;
            }
    }
  }
  .service__card__dark__container{
    @include flex-start;
    flex-direction: column;
    margin: 1rem;
    &__icons{
      @include flex-center;
     }
  &__title{
    @include font-family-normal;
    text-transform:capitalize;
    color:$c-grayish-blue;
    text-align: center;
  }
  &__body{
      @include font-family-normal;
      width: 100%;
      letter-spacing: 0.0112rem;
      line-height: 26px;
      font-size: 15px;
      font-size: 0.91rem;
      font-weight: 300;
      color:$c-grayish-blue;
      &:hover{
        color: $c-white;
              }

    }
  }
  .skillsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: auto;
    height: auto;
    padding: 1rem;
  }
 
  .skillsGrid__img {
  height: 75px;
  width: 45px;
  }
  .skills{
  background-color:rgb(219 210 210);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  }
  .skills__dark{
    background-color: hsl(212deg 47% 20%);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
    
  }
  .skillsGrid__amazon{
    width: 50px;
    height:78px
  }