/***********************
* COLORS
************************/
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;500;600&display=swap");
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Passions Conflict";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/passionsconflict/v5/kmKnZrcrFhfafnWX9x0GuEC-zowow6NXaxMICA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Kumbh";
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNopqShNBVo0iPw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/*******************
* MEDIA QUERIES
********************/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Passions Conflict";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/passionsconflict/v5/kmKnZrcrFhfafnWX9x0GuEC-zowow6NXaxMICA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Kumbh";
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNopqShNBVo0iPw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/***********************
* DEVICES
************************/
/***********************
* COLUMN
************************/
/*******************
* SPACING
********************/
/***********************
* DEVICES
************************/
/***********************
* COLUMN
************************/
/*******************
* SPACING
********************/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Kumbh";
}

.content {
  padding: 5rem 0 0 0;
  min-height: 100%;
}

.content__dark {
  padding: 4rem 0 0 0;
  min-height: 100%;
  background-color: #0e0e0e;
}

.main {
  width: 100%;
  height: 83rem;
  display: flex;
  flex-direction: column;
  background-color: hsl(0deg, 0%, 96.86%);
}
@media screen and (min-width: 768px) {
  .main {
    height: 60rem;
  }
}
@media screen and (min-width: 1020px) {
  .main {
    align-items: center;
    flex-direction: row-reverse;
    height: 100vh;
  }
  .main::before {
    content: "";
    height: 100vh;
    width: 100%;
    margin: auto;
    display: block;
    background-image: url("../images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.profile {
  max-width: 100%;
  height: 35rem;
  background-image: url(../images/bg-boost-mobile.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  color: hsl(0deg, 0%, 100%);
  display: flex;
  align-items: start;
  justify-content: flex-start;
  font-family: "Kumbh Sans";
  flex-direction: column;
  z-index: 5;
}
@media screen and (min-width: 1020px) {
  .profile {
    background-image: none;
    width: 40%;
  }
}
.profile-card {
  width: 100%;
  text-align: center;
  border-radius: 50%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile-card__pic {
  width: 12.5rem;
  height: 12.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 0.4rem dotted hsl(256.36deg, 25.88%, 33.33%);
  background-color: rgba(196, 196, 196, 0.7);
  opacity: 1;
  padding: 0.3rem;
}
@media screen and (min-width: 768px) {
  .profile-card__pic {
    width: 15.5rem;
    height: 15.5rem;
  }
}
@media screen and (min-width: 1020px) {
  .profile-card__pic {
    width: 14.5rem;
    height: 14.5rem;
  }
}
.profile-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile-info h2 {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 0.0913rem;
  color: hsl(256.36deg, 25.88%, 33.33%);
}
@media screen and (min-width: 1020px) {
  .profile-info h2 {
    font-size: 1.9rem;
  }
}
.profile-info p {
  font-size: 1rem;
  color: #0e0e0e;
}
@media screen and (min-width: 1020px) {
  .profile-info p {
    font-size: 1.5rem;
    font-size: 1.2rem;
    line-height: 2.6rem;
  }
}
.profile-social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2rem;
}
@media screen and (min-width: 1020px) {
  .profile-social {
    justify-content: center;
    margin-top: 5rem;
  }
}
@media screen and (min-width: 1440px) {
  .profile-social {
    margin-top: 13rem;
    justify-content: flex-end;
    z-index: 1;
  }
}
.profile-social__link {
  margin: 1rem;
  color: hsl(256.36deg, 25.88%, 33.33%);
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .profile-social__link {
    color: hsl(0deg, 0%, 100%);
  }
}
@media screen and (min-width: 1020px) {
  .profile-social__link {
    color: hsl(256.36deg, 25.88%, 33.33%);
  }
}
@media screen and (min-width: 1440px) {
  .profile-social__link {
    color: hsl(0deg, 0%, 100%);
  }
}

.about {
  font-family: "Kumbh Sans";
  padding: 1rem;
  height: 50vh;
}
@media screen and (min-width: 1020px) {
  .about {
    margin-top: 13rem;
    width: 60%;
  }
}
.about-card {
  width: 100%;
  margin: 0 auto;
}
.about-card h2 {
  color: hsl(256.36deg, 25.88%, 33.33%);
  font-size: 3rem;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 1020px) {
  .about-card h2 {
    padding: 1rem;
    text-align: start;
  }
}
.about-card__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #4B3F6B;
}
@media screen and (min-width: 1020px) {
  .about-card__body {
    flex-direction: row;
    align-items: flex-start;
  }
}
.about-card__body p {
  letter-spacing: 0.0112rem;
  line-height: 26px;
  font-size: 15px;
  font-size: 0.91rem;
  font-weight: 300;
  color: hsl(256.36deg, 25.88%, 33.33%);
  padding: 1rem;
}
@media screen and (min-width: 1020px) {
  .about-card__body p {
    width: 50%;
  }
}
.about-card__sig {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Passions Conflict";
  font-weight: 100;
  font-style: normal;
  font-size: 2.5rem;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 1020px) {
  .about-card__sig {
    width: 50%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
  }
}
.about-card__sig p {
  color: hsl(357.84deg, 88.99%, 42.75%);
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1020px) {
  .about-card__sig p {
    margin: 0;
  }
}
.about-card__sig button {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(256.36deg, 25.88%, 33.33%);
  padding: 0.61rem;
  border: none;
  border-radius: 7px;
  font-size: 15px;
}
.about-card__sig button:hover {
  background-color: hsl(256.36deg, 25.88%, 33.33%);
  color: hsl(0deg, 0%, 85.1%);
  font-weight: 900;
  text-transform: uppercase;
}

.main-dark {
  width: 100%;
  height: 73rem;
  display: flex;
  flex-direction: column;
  background-color: #0e0e0e;
}
@media screen and (min-width: 768px) {
  .main-dark {
    height: 60rem;
  }
}
@media screen and (min-width: 1020px) {
  .main-dark {
    align-items: center;
    flex-direction: row-reverse;
    height: 100vh;
  }
  .main-dark::before {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    background-image: url("../images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.profile-dark {
  max-width: 100%;
  height: 50vh;
  background-image: url(../images/bg-boost-mobile.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kumbh Sans";
  flex-direction: column;
}
@media screen and (min-width: 1020px) {
  .profile-dark {
    background-image: none;
    width: 40%;
    z-index: 1;
  }
}
.profile-dark__card {
  width: 100%;
  text-align: center;
  border-radius: 50%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile-dark__card-pic {
  width: 12.5rem;
  height: 12.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 0.4rem dotted hsl(256.36deg, 25.88%, 33.33%);
  background-color: rgba(196, 196, 196, 0.7);
  opacity: 1;
  padding: 0.3rem;
}
@media screen and (min-width: 768px) {
  .profile-dark__card-pic {
    width: 15.5rem;
    height: 15.5rem;
  }
}
@media screen and (min-width: 1020px) {
  .profile-dark__card-pic {
    width: 14.5rem;
    height: 14.5rem;
  }
}
.profile-dark__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile-dark__info h2 {
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 0.0913rem;
  color: hsl(256.36deg, 25.88%, 33.33%);
}
@media screen and (min-width: 1020px) {
  .profile-dark__info h2 {
    font-size: 1.9rem;
  }
}
.profile-dark__info p {
  font-size: 1rem;
  color: hsl(0deg, 0%, 85.1%);
}
@media screen and (min-width: 1020px) {
  .profile-dark__info p {
    font-size: 1.5rem;
    font-size: 1.2rem;
    line-height: 2.6rem;
  }
}
.profile-dark__social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3rem;
}
@media screen and (min-width: 1020px) {
  .profile-dark__social {
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .profile-dark__social {
    margin-top: 13rem;
    justify-content: flex-end;
    z-index: 1;
  }
}
.profile-dark__social-link {
  margin: 1rem;
  color: #0e0e0e;
  text-decoration: none;
}
@media screen and (min-width: 1020px) {
  .profile-dark__social-link {
    color: hsl(256.36deg, 25.88%, 33.33%);
  }
}
@media screen and (min-width: 1440px) {
  .profile-dark__social-link {
    color: #0e0e0e;
  }
}

.about-dark {
  font-family: "Kumbh Sans";
  padding: 1rem;
  height: 50vh;
}
@media screen and (min-width: 1020px) {
  .about-dark {
    margin-top: 13rem;
    width: 60%;
  }
}
.about-dark__card {
  width: 100%;
  margin: 0 auto;
}
.about-dark__card h2 {
  color: hsl(256.36deg, 25.88%, 33.33%);
  font-size: 3rem;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 1020px) {
  .about-dark__card h2 {
    padding: 1rem;
    text-align: start;
  }
}
.about-dark__card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(110, 108, 108);
}
@media screen and (min-width: 1020px) {
  .about-dark__card-body {
    flex-direction: row;
    align-items: flex-start;
  }
}
.about-dark__card-body p {
  letter-spacing: 0.0112rem;
  line-height: 26px;
  font-size: 15px;
  font-size: 0.91rem;
  font-weight: 300;
  color: rgb(110, 108, 108);
  padding: 1rem;
}
@media screen and (min-width: 1020px) {
  .about-dark__card-body p {
    width: 50%;
  }
}
.about-dark__card-sig {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Passions Conflict";
  font-weight: 100;
  font-style: normal;
  font-size: 2.5rem;
  padding: 0;
}
@media screen and (min-width: 1020px) {
  .about-dark__card-sig {
    width: 50%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
  }
}
.about-dark__card-sig p {
  color: hsl(357.84deg, 88.99%, 42.75%);
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1020px) {
  .about-dark__card-sig p {
    margin: 0;
  }
}
.about-dark__card-sig button {
  color: hsl(210deg, 4%, 67%);
  background-color: hsl(256.36deg, 25.88%, 33.33%);
  padding: 0.61rem;
  border: none;
  border-radius: 7px;
  font-size: 15px;
}
.about-dark__card-sig button:hover {
  background-color: hsl(256.36deg, 25.88%, 33.33%);
  color: hsl(357.84deg, 88.99%, 42.75%);
  font-weight: 900;
}/*# sourceMappingURL=About.module.css.map */