/** @format */

@import "../../styles/styles.scss";

.main {
	width: 100%;
	min-height: 78rem;
	display: flex;

	flex-direction: column;
	@include tablet-query {
		min-height: 44rem;
	}
	@include laptop-query {
		align-items: center;
		flex-direction: row-reverse;
		min-height: 100vh;
		&::before {
			content: "";
			height: 100vh;
			width: 100%;
			margin: auto;
			display: block;
			background-image: url("../images/bg-boost-desktop.svg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0;
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}

.profile {
	max-width: 100%;
	height: 35rem;
	background-image: url(../images/bg-boost-mobile.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 1rem;
	color: $c-white;
	@include flex-start;
	@include font-family-normal;
	flex-direction: column;
	z-index: 5;
	@include laptop-query {
		background-image: none;
		width: 40%;
	}
	&-card {
		width: 100%;
		text-align: center;
		border-radius: 50%;
		border-radius: 20px;
		@include flex-center;
		flex-direction: column;

		&__pic {
			width: 12.5rem;
			height: 12.5rem;
			object-fit: cover;
			border-radius: 50%;
			border: 0.4rem dotted $c-dark-green;
			background-color: rgba(196, 196, 196, 0.7);
			opacity: 1;
			padding: 0.3rem;
			@include tablet-query {
				width: 15.5rem;
				height: 15.5rem;
			}
			@include laptop-query {
				width: 14.5rem;
				height: 14.5rem;
			}
		}
	}
	&-info {
		width: 100%;
		@include flex-center;
		flex-direction: column;

		&__title {
			margin-top: 2rem;
			font-size: 1.4rem;
			line-height: 1.9rem;
			letter-spacing: 0.0913rem;
			color: $c-dark-green;
			@include laptop-query {
				font-size: 1.9rem;
			}
		}
		& p {
			font-size: 1rem;
			color: $c-banana-sim-black;
			@include laptop-query {
				font-size: 1.5rem;
				font-size: 1.2rem;
				line-height: 2.6rem;
			}
		}
	}
	&-social {
		width: 100%;
		@include flex-center;
		margin-top: 2rem;
		@include laptop-query {
			justify-content: center;
			margin-top: 5rem;
		}
		@include laptop-l-query {
			margin-top: 13rem;
			justify-content: flex-end;
			z-index: 1;
		}

		&__link {
			margin: 1rem;
			color: $c-dark-green;
			text-decoration: none;

			@include laptop-query {
				color: $c-dark-green;
			}
			@include laptop-l-query {
				color: $c-white;
			}
		}
	}
}
.about {
	@include font-family-normal;
	padding: $p-base;
	height: 50vh;
	@include laptop-query {
		width: 60%;
	}
	&-card {
		width: 100%;
		margin: 0 auto;
		@include laptop-query {
			margin: 4rem auto;
		}
		@include laptop-l-query {
			margin: 8rem auto;
		}
		& h2 {
			color: $c-dark-green;
			font-size: 3rem;
			margin: 0 auto;
			text-align: center;
			@include laptop-query {
				padding: 1rem;
				text-align: start;
			}
		}
		&__body {
			@include flex-center;
			flex-direction: column;
			color: #4b3f6b;
			@include laptop-query {
				flex-direction: row;
				align-items: flex-start;
			}
			& p {
				letter-spacing: 0.0112rem;
				line-height: 26px;
				font-size: 15px;
				font-size: 0.91rem;
				font-weight: $fw-normal;
				color: $c-dark-green;
				padding: 1rem;

				@include laptop-query {
					width: 50%;
				}
			}
		}
		&__sig {
			@include flex-center;
			flex-direction: column;
			@include font-family-passion;
			padding: 0;
			text-align: center;
			@include laptop-query {
				width: 50%;
				flex-direction: row;
				align-items: flex-end;
				justify-content: space-around;
			}
			& p {
				color: $c-deep-red;
				font-size: 2rem;
				margin-bottom: $m-base;
				@include laptop-query {
					margin: 0;
				}
			}
			& button {
				color: $c-white;
				background-color: $c-dark-green;
				padding: 0.61rem;
				border: none;
				border-radius: 7px;
				font-size: 15px;
				&:hover {
					background-color: $c-dark-green;
					color: $c-bright-gray;
					font-weight: $fw-black;
					text-transform: uppercase;
				}
			}
		}
	}
}
.main-dark {
	width: 100%;
	min-height: 73rem;
	display: flex;
	flex-direction: column;
	background-color: $c-banana-sim-black;
	@include tablet-query {
		min-height: 44rem;
	}
	@include laptop-query {
		align-items: center;
		flex-direction: row-reverse;
		height: 100vh;
		&::before {
			content: "";
			width: 100%;
			height: 100vh;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			display: block;
			background-image: url("../images/bg-boost-desktop.svg");
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}
.profile-dark {
	max-width: 100%;
	height: 50vh;
	background-image: url(../images/bg-boost-mobile.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 1rem;
	@include flex-center;
	@include font-family-normal;
	flex-direction: column;
	@include laptop-query {
		background-image: none;
		width: 40%;
		z-index: 1;
	}
	&__card {
		width: 100%;
		text-align: center;
		border-radius: 50%;
		border-radius: 20px;
		@include flex-center;
		flex-direction: column;

		&-pic {
			width: 12.5rem;
			height: 12.5rem;
			object-fit: cover;
			border-radius: 50%;
			border: 0.4rem dotted $c-dark-green;
			background-color: rgba(196, 196, 196, 0.7);
			opacity: 1;
			padding: 0.3rem;
			@include tablet-query {
				width: 15.5rem;
				height: 15.5rem;
			}
			@include laptop-query {
				width: 14.5rem;
				height: 14.5rem;
			}
		}
	}
	&__info {
		width: 100%;
		@include flex-center;
		flex-direction: column;
		&-title {
			margin-top: 1rem;
			font-size: 1.4rem;
			line-height: 1.9rem;
			letter-spacing: 0.0913rem;
			color: $c-dark-green;
			@include laptop-query {
				font-size: 1.9rem;
			}
		}
		& p {
			font-size: 1rem;
			color: $c-dark-desaturated-cyan;
			@include laptop-query {
				font-size: 1.5rem;
				font-size: 1.2rem;
				line-height: 2.6rem;
			}
		}
	}
	&__social {
		width: 100%;
		@include flex-end;
		margin-top: 3rem;
		@include laptop-query {
			justify-content: center;
		}
		@include laptop-l-query {
			margin-top: 13rem;
			justify-content: flex-end;
			z-index: 1;
		}
		&-link {
			margin: 1rem;
			color: $c-banana-sim-black;
			text-decoration: none;
			@include laptop-query {
				color: $c-dark-green;
			}
			@include laptop-l-query {
				color: $c-banana-sim-black;
			}
		}
	}
}
.about-dark {
	@include font-family-normal;
	padding: $p-base;
	height: 50vh;
	@include laptop-query {
		margin-top: 13rem;
		width: 60%;
	}
	&__card {
		width: 100%;
		margin: 0 auto;
		& h2 {
			color: $c-dark-green;
			font-size: 3rem;
			margin: 0 auto;
			text-align: center;
			@include laptop-query {
				padding: 1rem;
				text-align: start;
			}
		}
		&-body {
			@include flex-center;
			flex-direction: column;
			color: $c-light-body;
			@include laptop-query {
				flex-direction: row;
				align-items: flex-start;
			}
			& p {
				letter-spacing: 0.0112rem;
				line-height: 26px;
				font-size: 15px;
				font-size: 0.91rem;
				font-weight: $fw-normal;
				color: $c-light-body;
				padding: 1rem;

				@include laptop-query {
					width: 50%;
				}
			}
		}
		&-sig {
			@include flex-center;
			flex-direction: column;
			@include font-family-passion;
			padding: 0;
			@include laptop-query {
				width: 50%;
				flex-direction: row;
				align-items: flex-end;
				justify-content: space-around;
			}
			& p {
				color: $c-deep-red;
				font-size: 2rem;
				margin-bottom: $m-base;
				@include laptop-query {
					margin: 0;
				}
			}
			& button {
				color: $c-grayish-blue;
				background-color: $c-dark-green;
				padding: 0.61rem;
				border: none;
				border-radius: 7px;
				font-size: 15px;
				&:hover {
					background-color: $c-dark-green;
					color: $c-deep-red;
					font-weight: $fw-black;
				}
			}
		}
	}
}
