@import "../../styles/styles.scss";

.header{
    width: 100%;
    position: fixed;
    height: 5rem;
    z-index: 100;
    @include font-family-normal;
    background-color:$c-background;

    @include flex-space-bteween;
    padding: $p-base;
    &__toggle{
        width: 86rem;
        @include flex-space-bteween;
        @include laptop-query{
            width: 15rem;
        }
        &__btn{
            @include flex-start;
            border: none;
            width: 35px;
            height: 36px;
            padding: 0;
            background-color: $c-background;
            cursor: pointer;
                @include laptop-query{
                display: none
                }
            &__burger{
            padding: 0;
            margin: 0;
            position: relative;
            width: 17px;
            height:2px;
            background-color: $c-soft-red;
            ;
            transition: all .5s ease;
            }
            &__burger::before,::after{
                content: '';
                position:absolute;
                top: 0;
                right: 0;
                width:17px;
                height:2px;
                background-color: $c-soft-red;
                box-shadow:  0 2px 5px  rbga(255,101,47,.2);
                
            }
            &__burger::before{
                transform: translateY(-5px);
            }
            &__burger::after{
                transform: translateY(5px);
            }
        }
        &__home__link{
            padding: 0;
            margin: 0;
            color:$c-dark-desaturated-blue;
            font-weight: 900 !important;
            text-transform:capitalize;
            text-decoration: none;
            color: $c-deep-red;
        }
        &__logo{
            margin: 0;
            padding: 0;
            width: 46px;
            text-align: center;
        }
    }
}
.header__toggle__btn__open{
            padding: 0;
            margin: 0;
            position: relative;
            width: 17px;
            height:2px;
            background-color: $c-soft-red;
            transition: all .5s ease;
            transform: translateX(-50px);

}
.header__toggle__btn__open::before{
                content: '';
                position:absolute;
                top: 0;
                right: 0;
                width:17px;
                height:2px;
                background-color: $c-soft-red;
                transition: all .5s ease-in-out;
                transform: rotate(45deg) translate(35px,-35px);
            }
.header__toggle__btn__open::after{
                content: '';
                position:absolute;
                top: 0;
                right: 0;
                width:17px;
                height:2px;
                background-color: $c-soft-red;
                box-shadow:  0 2px 5px  rbga(255,101,47,.2);
                transition: all .5s ease-in-out;
                transform: rotate(-45deg) translate(35px,35px);

            }
           

.nav{
    
  @include flex-end;
  background-color:$c-background;

  height: 5rem;
  width: 8rem;
  @include laptop-query{
      @include flex-end;
      width: 50%;
  }
  &__list{
    @include font-family-normal ;
    width: 40%;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    font-weight: 900;
    list-style: none;
    flex-direction: column;
    padding-top:$p-base*6 ;
    background-color:$c-background;
    z-index: 10;
    padding: 1rem;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
    @include laptop-query{
        width: 64%;
        padding: 0;
        position: static;
        height: 3.75rem;
        @include flex-space-bteween;
        flex-direction: row;
        transform: none;
        transition: none;
      }
   
    &__description{
        font-weight:$fw-black;
        padding: $p-base;
        margin-top: $m-base;
        margin: 0;
        width: 70px;
        margin-top: 3rem;
        padding: 0;
        @include laptop-query{
            margin: 0;
            text-align:center;
            flex-direction: row;
        } 
            &__link{
                font-size: .7rem;
                letter-spacing: 1.5px;
                color:$c-soft-red;
                font-family: $fw-black;
                text-transform: uppercase;
                text-decoration:none;
                position: relative;
                padding: $p-base 0;
                &:hover{
                color: $c-bright-gray;
                }
                @include laptop-query{
                padding: $p-base*2.06 0;
                }
            }
            &__link::after{
                display: none;
                @include laptop-query{
                content:"";
                display: block;
                width: 100%;
                height: 2.16px;
                background-color: $c-Orange;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: scaleX(0);
                transition:transform ease-in;
                transition: transform 0.5s;
                }
            }
            &__link:hover::after{
                transform: scaleX(1);
                }
       }
      
    }
}
.navToggle__active{
    @include font-family-normal ;
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    font-weight: 900;
    list-style: none;
    flex-direction: column;
    padding-top:$p-base*6 ;
    background-color: $c-background;
    z-index: 10;
    padding: 1rem;
    transition: transform .5s ease-in-out;
    transform: translateX(0);
        @include laptop-query{
            padding: 0;
            position: static;
            width: 35.25rem;
            height: 3.75rem;
            @include flex-around;
            flex-direction: row;
            transform: none;
            transition: none;
          }
    }



.nav__list__description__login{
    @include paperStyleShadow;
    background-color:$c-deep-red;
    border-radius: .563rem;
    border: none;
    margin-top: $m-base*2.5;
    padding: .3rem;
    width: 8.4rem;
    text-align: center;
    border: 1px solid $c-deep-red;
    &:hover{
        color: $c-deep-red;
        background-color: $c-deep-red;
        border-color: $c-new-back-ground-color;
        
    }
      @include laptop-query{
        margin: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
        @include flex-around;
        &:hover{
        background-color: transparent;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        border: none;
        }
    }
    &__link{
        @include font-family-normal;
        font-weight: $fw-bold;
        text-decoration: none;
        color: $c-white;
        @include laptop-query{
        color: $c-deep-red;
        &:hover{
            color: $c-banana-sim-black;
        }

    }
    }
    &__link__img{
        display: none;
        @include laptop-query{
        display: block;
        width: 30px;
        height:30px;
        border-radius:50px;
        }
    }
}


.overlay {
    &::before {
        content: "";
        opacity: 0.77;
        min-width: 100%;
        height: 100vh;
        display: block;
        right: 0;
        top: 100%;
        position: absolute;
        background: $c-dark-green;
        // z-index: 180;
        animation: slidex 1s;
        @include laptop-query{
            display: none;
            animation: none
        }
        @keyframes slidex {
            from {
                transform: translateX(-200px);
            }
            to {
                transform: translateX(0);
            }
        }
    }
}
.hero {
    position: relative;
    display: flex;
    width: 100%;
    height: 367px;
    align-items: center;
    background-color:$c-banana-sim-black;
    @include tablet-query {
        width: 100%;
        height: 506px;
    }
    @include laptop-query {
        width: 100%;
        height: 681px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-image: url(../images/hero.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position:center;
      opacity: 0.8;
    }
    @include laptop-query{
        background-position:top;

    }

    &__main{
        padding: $p-base;
        margin-top: 13rem;
        @include font-family-normal;
        display: flex;
        flex-direction: column;
        text-transform: capitalize;

        &__header {
            font-size: 22px;
            font-weight: 600;
            position: relative;
            color: $c-white;
            padding-bottom:$p-base;

            @include laptop-query{
            font-size: 30px;

            } 
        }
        &__text{
            font-size: 18px;
            font-weight: $fw-bold;
            position: relative;
            color: $c-new-back-ground-color;
            background-color: $c-soft-red;
            padding: $p-base*.5;

            @include laptop-query{
                font-size: 27px;
    
                } 
        }
    }
}

//         
//   }


// .container{
//     display: flex;
//     width: 100%;

//     height: 600px;
//     &__divider{
//         flex-grow: 1;
//         width: 100%;
//         height:100%;
//         background-color: hsl(240,3%,14%);
        
//     }
//     &__card{
//     position: relative;
//     display: flex;
//     flex-grow: 1;
//     flex-direction: column-reverse;
//     width: 100%;
//     height:400px;
//     margin: 0;
//     align-items: center;
   
    
//  &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     background-image: url(../images/hero.jpg);
//     height:400px;
//     width: 100%;
//     background-repeat: no-repeat;
//     background-size:cover;
//     background-position: center;
//     // border: 2px solid green;
//     // border-radius: 50%;
// }

//     }
// }
// .hero__header {
//     @include headermob();
//     font-weight: 600;
//     position: relative;
//     padding-left: $p-base;
//     color: $white;
  
//     @include tablet-query {
//       @include desktabheaderd();
//       padding-left: $p-base * 2.5;
//       font-weight: 600;
//     }
//     @include laptop-query {
//       @include desktabheaderd();
//       padding-left: $p-base * 3;
//       color: $white;
//       font-weight: 600;
//     }
//   }