@import "../../styles/styles.scss";

.header{
    width: 100%;
    position: fixed;
    height: 5rem;
    z-index: 100;
    @include font-family-normal;
    background-color:$c-white;
    @include flex-space-bteween;
    padding: $p-base;
    &__toggle{
        width: 86rem;
        @include flex-space-bteween;
        @include laptop-query{
            width: 15rem;
        }
        &__btn{
            @include flex-center;
            border: none;
            width: 35px;
            height: 36px;
            padding: 0;
            background-color: $c-white;
            cursor: pointer;
                @include laptop-query{
                display: none
                }
            &__burger{
            padding: 0;
            margin: 0;
            position: relative;
            width: 17px;
            height:2px;
            background-color: $c-horeble;
            ;
            transition: all .5s ease;
            }
            &__burger::before,::after{
                content: '';
                position:absolute;
                top: 0;
                right: 0;
                width:17px;
                height:2px;
                background-color: $c-horeble;
                box-shadow:  0 2px 5px  rbga(255,101,47,.2);
                
            }
            &__burger::before{
                transform: translateY(-5px);
            }
            &__burger::after{
                transform: translateY(5px);
            }
        }
        &__home__link{
            padding: 0;
            margin: 0;
            color:$c-dark-desaturated-blue;
            font-weight: 900 !important;
            text-transform:capitalize;
            text-decoration: none;
            color: $c-deep-red;
        }
        &__logo{
            margin: 0;
            padding: 0;
            width: 46px;
            text-align: center;
        }
    }
}
.header__toggle__btn__open{
            padding: 0;
            margin: 0;
            position: relative;
            width: 17px;
            height:2px;
            background-color: $c-horeble;
            transition: all .5s ease;
            transform: translateX(-50px);

}
.header__toggle__btn__open::before{
                content: '';
                position:absolute;
                top: 0;
                right: 0;
                width:17px;
                height:2px;
                background-color: $c-horeble;
                transition: all .5s ease-in-out;
                transform: rotate(45deg) translate(35px,-35px);
            }
.header__toggle__btn__open::after{
                content: '';
                position:absolute;
                top: 0;
                right: 0;
                width:17px;
                height:2px;
                background-color: $c-horeble;
                box-shadow:  0 2px 5px  rbga(255,101,47,.2);
                transition: all .5s ease-in-out;
                transform: rotate(-45deg) translate(35px,35px);
            }
           

.nav{
    
  @include flex-end;
  background-color:$c-white;
  height: 5rem;
  width: 8rem;
  @include laptop-query{
      @include flex-end;
      width: 50%;
  }
  &__list{
    @include font-family-normal ;
    width: 40%;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    font-weight: 900;
    list-style: none;
    flex-direction: column;
    padding-top:$p-base*6 ;
    background-color:$c-white;
    z-index: 10;
    padding: 1rem;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
    @include laptop-query{
        width: 64%;
        padding: 0;
        position: static;
        height: 3.75rem;
        @include flex-space-bteween;
        flex-direction: row;
        transform: none;
        transition: none;
      }
   
    &__description{
        font-weight:$fw-black;
        padding: $p-base;
        margin-top: $m-base;
        margin: 0;
        width: 70px;
        margin-top: 3rem;
        padding: 0;
        @include laptop-query{
            margin: 0;
            text-align:center;
            flex-direction: row;
        } 
            &__link{
                font-size: .7rem;
                letter-spacing: 1.5px;
                color:$c-horeble;
                font-family: $fw-black;
                text-transform: uppercase;
                text-decoration:none;
                position: relative;
                padding: $p-base 0;
                &:hover{
                color: $c-banana-sim-black;
                }
                @include laptop-query{
                padding: $p-base*2.06 0;
                }
            }
            &__link::after{
                display: none;
                @include laptop-query{
                content:"";
                display: block;
                width: 100%;
                height: 2.16px;
                background-color:$c-dark-green;
                ;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: scaleX(0);
                transition:transform ease-in;
                transition: transform 0.5s;
                }
            }
            &__link:hover::after{
                transform: scaleX(1);
                }
       }
      
    }
}
.navToggle__active{
    @include font-family-normal ;
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    font-weight: 900;
    list-style: none;
    flex-direction: column;
    padding-top:$p-base*6 ;
    background-color: $c-white;
    z-index: 10;
    padding: 1rem;
    transition: transform .5s ease-in-out;
    transform: translateX(0);
        @include laptop-query{
            padding: 0;
            position: static;
            width: 35.25rem;
            height: 3.75rem;
            @include flex-around;
            flex-direction: row;
            transform: none;
            transition: none;
          }
    }

.nav__list__description__login{
    @include paperStyleShadow;
    background-color:$c-deep-red;
    border-radius: .563rem;
    border: none;
    margin-top: $m-base*2.5;
    padding: .3rem;
    width: 8.4rem;
    text-align: center;
    border: 1px solid $c-deep-red;
    &:hover{
        color: $c-banana-sim-black;
        background-color: $c-deep-red;
        border-color: $c-new-back-ground-color;
        
    }
      @include laptop-query{
        margin: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
        @include flex-around;
        &:hover{
        background-color: transparent;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        border: none;
        }
    }
    &__link{
        @include font-family-normal;
        font-weight: $fw-bold;
        text-decoration: none;
        color: $c-white;
        @include laptop-query{
        color: $c-deep-red;
        &:hover{
            color:$c-dark-green;
            
        }

    }
    }
    &__link__img{
        display: none;
        @include laptop-query{
        display: block;
        width: 30px;
        height:30px;
        border-radius:50px;
        }
    }
}


.overlay {
    &::before {
        content: "";
        opacity: 0.77;
        min-width: 100%;
        height: 100vh;
        display: block;
        right: 0;
        top: 100%;
        position: absolute;
        background:$c-dark-green;
        ;
        // z-index: 180;
        animation: slidex 1s;
        @include laptop-query{
            display: none;
            animation: none
        }
        @keyframes slidex {
            from {
                transform: translateX(-200px);
            }
            to {
                transform: translateX(0);
            }
        }
    }
}

.header__dark{
    width: 100%;
    position: fixed;
    height: 5rem;
    z-index: 100;
    @include font-family-normal;
    background-color:$c-banana-sim-black;
    @include flex-space-bteween;
    padding: $p-base;
    &__toggle{
        width: 86rem;
        @include flex-space-bteween;
        @include laptop-query{
            width: 15rem;
        }
        &__btn{
            @include flex-center;
            border: none;
            width: 35px;
            height: 36px;
            padding: 0;
            background-color:$c-banana-sim-black;

            cursor: pointer;
                @include laptop-query{
                display: none
                }
            &__burger{
            padding: 0;
            margin: 0;
            position: relative;
            width: 17px;
            height:2px;
            background-color: $c-dark-moderate-cyan;
            ;
            transition: all .5s ease;
            }
            &__burger::before,::after{
                content: '';
                position:absolute;
                top: 0;
                right: 0;
                width:17px;
                height:2px;
                background-color: $c-dark-moderate-cyan;
                box-shadow:  0 2px 5px  rbga(255,101,47,.2);
                
            }
            &__burger::before{
                transform: translateY(-5px);
            }
            &__burger::after{
                transform: translateY(5px);
            }
        }
        &__home__link{
            padding: 0;
            margin: 0;
            color:$c-dark-desaturated-blue;
            font-weight: 900 !important;
            text-transform:capitalize;
            text-decoration: none;
            color: $c-deep-red;
        }
        &__logo{
            margin: 0;
            padding: 0;
            width: 46px;
            text-align: center;
        }
    }
}
.header__dark__toggle__btn__open{
            padding: 0;
            margin: 0;
            position: relative;
            width: 17px;
            height:2px;
            background-color: $c-dark-moderate-cyan;
            transition: all .5s ease;
            transform: translateX(-50px);

}
.header__dark__toggle__btn__open::before{
                content: '';
                position:absolute;
                top: 0;
                right: 0;
                width:17px;
                height:2px;
                background-color: $c-dark-moderate-cyan;;
                transition: all .5s ease-in-out;
                transform: rotate(45deg) translate(35px,-35px);
            }
.header__dark__toggle__btn__open::after{
                content: '';
                position:absolute;
                top: 0;
                right: 0;
                width:17px;
                height:2px;
                background-color: $c-dark-moderate-cyan;;
                box-shadow:  0 2px 5px  rbga(255,101,47,.2);
                transition: all .5s ease-in-out;
                transform: rotate(-45deg) translate(35px,35px);
            }
           

.nav__dark{
    
  @include flex-end;
  background-color:$c-banana-sim-black;
  height: 5rem;
  width: 8rem;
  @include laptop-query{
      @include flex-end;
      width: 50%;
  }
  &__list{
    @include font-family-normal ;
    width: 40%;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    font-weight: 900;
    list-style: none;
    flex-direction: column;
    padding-top:$p-base*6 ;
    background-color:$c-banana-sim-black;
    z-index: 10;
    padding: 1rem;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
    @include laptop-query{
        width: 64%;
        padding: 0;
        position: static;
        height: 3.75rem;
        @include flex-space-bteween;
        flex-direction: row;
        transform: none;
        transition: none;
      }
   
    &__description{
        font-weight:$fw-black;
        padding: $p-base;
        margin-top: $m-base;
        margin: 0;
        width: 70px;
        margin-top: 3rem;
        padding: 0;
        @include laptop-query{
            margin: 0;
            text-align:center;
            flex-direction: row;
        } 
            &__link{
                font-size: .7rem;
                letter-spacing: 1.5px;
                color:#68c984;
                font-family: $fw-black;
                text-transform: uppercase;
                text-decoration:none;
                position: relative;
                padding: $p-base 0;
                &:hover{
                color: $c-white;
                }
                @include laptop-query{
                padding: $p-base*2.06 0;
                }
            }
            &__link::after{
                display: none;
                @include laptop-query{
                content:"";
                display: block;
                width: 100%;
                height: 2.16px;
                background-color:#68c984;
                ;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: scaleX(0);
                transition:transform ease-in;
                transition: transform 0.5s;
                }
            }
            &__link:hover::after{
                transform: scaleX(1);
                }
       }
      
    }
}
.navToggle__active{
    @include font-family-normal ;
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    font-weight: 900;
    list-style: none;
    flex-direction: column;
    padding-top:$p-base*6 ;
    background-color: $c-white;
    z-index: 10;
    padding: 1rem;
    transition: transform .5s ease-in-out;
    transform: translateX(0);
        @include laptop-query{
            padding: 0;
            position: static;
            width: 35.25rem;
            height: 3.75rem;
            @include flex-around;
            flex-direction: row;
            transform: none;
            transition: none;
          }
    }
    .navToggle__active__dark{
        @include font-family-normal ;
        width: 70%;
        height: 100vh;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0;
        font-weight: 900;
        list-style: none;
        flex-direction: column;
        padding-top:$p-base*6 ;
        background-color: $c-banana-sim-black;
        z-index: 10;
        padding: 1rem;
        transition: transform .5s ease-in-out;
        transform: translateX(0);
            @include laptop-query{
                padding: 0;
                position: static;
                width: 35.25rem;
                height: 3.75rem;
                background-color: $c-banana-sim-black;

                @include flex-around;
                flex-direction: row;
                transform: none;
                transition: none;
              }
        }
.nav__list__description__login{
    @include paperStyleShadow;
    background-color:$c-deep-red;
    border-radius: .563rem;
    border: none;
    margin-top: $m-base*2.5;
    padding: .3rem;
    width: 8.4rem;
    text-align: center;
    border: 1px solid $c-deep-red;
    &:hover{
        color: $c-banana-sim-black;
        background-color: $c-deep-red;
        border-color: $c-new-back-ground-color;
        
    }
      @include laptop-query{
        margin: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
        @include flex-around;
        &:hover{
        background-color: transparent;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        border: none;
        }
    }
    &__link{
        @include font-family-normal;
        font-weight: $fw-bold;
        text-decoration: none;
        color: $c-white;
        @include laptop-query{
        color: $c-deep-red;
        &:hover{
            color:$c-dark-green;
            
        }

    }
    }
    &__link__img{
        display: none;
        @include laptop-query{
        display: block;
        width: 30px;
        height:30px;
        border-radius:50px;
        }
    }
}


.header__theme__toggle{
    width: 0;
    height:0;
    visibility:hidde;

    &__lable{
        @include flex-center;
        width:58px;
        height:29px;
        position:relative;
        background:$c-white;
        cursor: grab;
        border-radius: 200px;
        box-shadow:inset 0px 5px 15px rgba(0,0,0,0.2), inset 0px -5px 15px rgba(255,255,255,.4);
        transition:.4s;
        &::after{
            content: "";
            width: 25px;
            height: 25px;
            border-radius: 180px;
            position: absolute;
            top: 2px;
            left: 2px;
            background: linear-gradient(180deg, $c-bright-gray, $c-dark-green);
            transition: 0.4s;
            transform:translateX(0);


        }
      }
    }

    .FontAwesomeIconSun,.FontAwesomeIconMoon{
        position: absolute;
        width: 15.5px;
        top:0;
        z-index: 100;
    
    }
    
   
    .FontAwesomeIconSun{
        left:5px;
        top:7px;
        transition: .4s;
        color: $c-dark-green;
    }
   
    .FontAwesomeIconMoon{
        color:lightgray;
        left:36px;       
        top:7px;
        transition: .4s;
    }


.header__theme__toggle__dark{
    width: 0;
    height:0;
    visibility:hidde;

    &__lable{
        @include flex-center;
        width:58px;
        height:29px;
        position:relative;
        background:$c-banana-sim-black;
        border-radius: 200px;
        cursor: grab;
        box-shadow:inset 0px 42px 15px rgba(0,0,0,0.4), inset 0px 0px 14px rgba(255, 255, 255, 0.4);
        transition:.4s;
        &::after{
            content: "";
            width: 25px;
            height: 25px;
            border-radius: 180px;
            position: absolute;
            top: 2px;
            left: 2px;
            box-shadow:inset 0px 42px 15px rgba(0,0,0,0.4), inset 0px 0px 14px rgba(255, 255, 255, 0.4);
            transition: 0.4s;
            transform:translateX(30px);

        }
      }
    }
    .FontAwesomeIconSun__dark,.FontAwesomeIconMoon__dark{
        position: absolute;
        width: 15.5px;
        top:0;
        z-index: 100;
        
    
    }
    
    .FontAwesomeIconSun__dark{
        color:rgb(65, 63, 63);
        left:0;
        transition: .4s;
        left:5px;
        top:7px;
    
    }
    .FontAwesomeIconMoon__dark{
        color:#68c984;
        left:36px;       
         top:7px;
        transition: .4s;
    }
