/***********************
* COLORS
************************/
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;500;600&display=swap");
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Passions Conflict";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/passionsconflict/v5/kmKnZrcrFhfafnWX9x0GuEC-zowow6NXaxMICA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Kumbh";
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNopqShNBVo0iPw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/*******************
* MEDIA QUERIES
********************/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Passions Conflict";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/passionsconflict/v5/kmKnZrcrFhfafnWX9x0GuEC-zowow6NXaxMICA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Kumbh";
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNopqShNBVo0iPw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/***********************
* DEVICES
************************/
/***********************
* COLUMN
************************/
/*******************
* SPACING
********************/
/***********************
* DEVICES
************************/
/***********************
* COLUMN
************************/
/*******************
* SPACING
********************/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Kumbh";
}

.content {
  padding: 5rem 0 0 0;
  min-height: 100%;
}

.content__dark {
  padding: 4rem 0 0 0;
  min-height: 100%;
  background-color: #0e0e0e;
}

.form__container {
  font-family: "Kumbh Sans";
  background-color: hsl(0deg, 0%, 100%);
  height: 100%;
}
@media screen and (min-width: 1020px) {
  .form__container {
    width: 100%;
    margin: 0 auto;
  }
}
.form__container__title {
  font-family: "Kumbh Sans";
  font-weight: 700;
  margin: 0;
  text-align: center;
  font-size: 2.7rem;
  color: hsl(256.36deg, 25.88%, 33.33%);
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 1020px) {
  .form__container__title {
    margin: 0 auto;
    font-size: 3rem;
  }
}
.form__container__copy {
  width: 90%;
  font-size: 0.91rem;
  font-weight: 300;
  text-align: center;
  color: rgb(110, 108, 108);
  letter-spacing: 0.5px;
  margin: 3rem auto 4rem;
}
.form__container__mainContent {
  display: flex;
  flex-direction: column-reverse;
  background-color: #9f9f9f;
}
@media screen and (min-width: 768px) {
  .form__container__mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1020px) {
  .form__container__mainContent {
    flex-direction: row;
  }
}

.form__container__dark {
  font-family: "Kumbh Sans";
  background-color: #191919;
}
@media screen and (min-width: 1020px) {
  .form__container__dark {
    width: 100%;
    margin: 0 auto;
  }
}
.form__container__dark__title {
  font-family: "Kumbh Sans";
  font-weight: 700;
  margin: 0;
  text-align: center;
  font-size: 2.7rem;
  color: hsl(0deg, 0%, 83.92%);
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}
@media screen and (min-width: 1020px) {
  .form__container__dark__title {
    margin: 0 auto;
  }
}
.form__container__dark__copy {
  width: 90%;
  font-size: 0.91rem;
  font-weight: 300;
  text-align: center;
  color: hsl(210deg, 4%, 67%);
  letter-spacing: 0.5px;
  margin: 3rem auto 4rem;
}
@media screen and (min-width: 768px) {
  .form__container__dark__mainContent {
    display: flex;
  }
}

.form {
  width: 100%;
  margin: 0 auto;
  margin: 0 auto;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .form {
    width: 100%;
  }
}
@media screen and (min-width: 1020px) {
  .form {
    padding: 4rem;
    width: 100%;
  }
}
.form__input__box {
  padding: 1rem 0;
}
.form__input__text {
  width: 100%;
  padding: 0.8rem;
  background-color: #c4c4c4;
  border: none;
  color: rgb(110, 108, 108);
}
.form__message__box {
  display: flex;
  flex-direction: column;
}
.form__input__textArea {
  padding: 0.8rem;
  background-color: #c4c4c4;
  border: none;
  resize: none;
  outline: none;
}
.form__submit__btn {
  width: 100px;
  border-radius: 0.3rem;
  background-color: transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid hsl(0deg, 0%, 100%);
  font-family: "Kumbh Sans";
  font-size: 12px;
  padding: 0;
  text-transform: capitalize;
  border: none;
  background-color: hsl(256.36deg, 25.88%, 33.33%);
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
  padding: 0.6rem 0.6rem;
}
.form__submit__btn:hover {
  background-color: hsl(0deg, 0%, 100%);
  border: 2px solid hsl(357.84deg, 88.99%, 42.75%);
  color: hsl(357.84deg, 88.99%, 42.75%);
}

.form__dark {
  width: 100%;
  margin: 0 auto;
  margin: 0 auto;
  padding: 1rem;
  height: 100%;
}
@media screen and (min-width: 1020px) {
  .form__dark {
    padding: 4rem;
  }
}
.form__dark__input__box {
  padding: 1rem 0;
}
.form__dark__input__text {
  width: 100%;
  padding: 0.8rem;
  background-color: #9d9b9d;
  border: none;
  color: rgb(110, 108, 108);
}
.form__dark__message__box {
  display: flex;
  flex-direction: column;
}
.form__dark__input__textArea {
  padding: 0.8rem;
  background-color: #9d9b9d;
  border: none;
  resize: none;
  outline: none;
}
.form__dark__submit__btn {
  width: 100px;
  border-radius: 0.3rem;
  background-color: transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid hsl(0deg, 0%, 100%);
  font-family: "Kumbh Sans";
  font-size: 12px;
  padding: 0;
  text-transform: capitalize;
  border: none;
  background-color: hsl(0deg, 0%, 85.1%);
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
  padding: 0.6rem 0.6rem;
}
.form__dark__submit__btn:hover {
  background-color: hsl(0deg, 0%, 100%);
  border: 2px solid hsl(357.84deg, 88.99%, 42.75%);
  color: hsl(357.84deg, 88.99%, 42.75%);
}

.address {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}
.address__title {
  font-size: 1.5rem;
  color: hsl(256.36deg, 25.88%, 33.33%);
}
.address__list {
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .address__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
  }
}
@media screen and (min-width: 1020px) {
  .address__list {
    flex-wrap: nowrap;
  }
}
.address__list__item {
  width: 100%;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .address__list__item {
    width: 40%;
  }
}
.address__list__item__icon {
  width: 1.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  height: 29px;
  background-color: hsl(256.36deg, 25.88%, 33.33%);
}
.address__list__item__copy {
  font-size: 0.91rem;
  font-weight: 300;
  color: rgb(110, 108, 108);
  letter-spacing: 0.5px;
  padding: 0;
  margin: 0;
  width: 100%;
}
.address__list__item__title {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
.address__list__item__linkdIn {
  max-width: 100%;
  padding: 0;
  margin: 1rem;
}

.address__dark {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}
.address__dark__title {
  font-size: 1.5rem;
  color: hsl(0deg, 0%, 83.92%);
}
.address__dark__list {
  padding: 0;
  list-style: none;
}
.address__dark__list__item {
  width: 100%;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  padding: 1rem 0;
}
.address__dark__list__item__icon {
  width: 1.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  height: 29px;
  background-color: hsl(0deg, 0%, 85.1%);
}
.address__dark__list__item__copy {
  font-size: 0.91rem;
  font-weight: 300;
  color: rgb(110, 108, 108);
  letter-spacing: 0.5px;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}
.address__dark__list__item__title {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.FontAwesomeIcon {
  color: hsl(0deg, 0%, 100%);
}

.FontAwesomeIcon__dark {
  color: hsl(0deg, 0%, 100%);
}

.location {
  width: 80%;
  margin: 0 auto;
}
.location__title {
  text-align: center;
  color: hsl(357.84deg, 88.99%, 42.75%);
}
.location__card {
  width: 100%;
}
.location__card__img {
  width: 100%;
}

.adress__profile {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .adress__profile {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .adress__profile {
    width: 100%;
  }
}
.adress__profile .adress__profile__img {
  width: 100%;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .adress__profile .adress__profile__img {
    width: 397px;
    border-radius: 1px;
  }
}
@media screen and (min-width: 1020px) {
  .adress__profile .adress__profile__img {
    width: 63%;
    border-radius: 10px;
  }
}/*# sourceMappingURL=contact.module.css.map */